@charset "utf-8";

// ---------------------------------------------------------------------------
//
// Font
//
// ---------------------------------------------------------------------------

// ----------------------------------------------------------
// Font Size
// ----------------------------------------------------------
.fFont_l { font-size: $font-size_base + 4 + px; }
.fFont_m { font-size: $font-size_base + 2 + px; }
.fFont_s { font-size: $font-size_base - 2 + px; }

// ----------------------------------------------------------
// Font Weight
// ----------------------------------------------------------
.fFont_b { font-weight: bold !important; }
