@charset "utf-8";
// ---------------------------------------------------------------------------
//
// Text
//
// ---------------------------------------------------------------------------

// ----------------------------------------------------------
// Align
// ----------------------------------------------------------
.fTxt_left { text-align: left !important; }
.fTxt_center { text-align: center !important; }
.fTxt_right { text-align: right !important; }

// ----------------------------------------------------------
// Text Color
// ----------------------------------------------------------
@each $key, $value in $colors {
	.fTxt_#{$key} { color: #{$value} !important;}
}

// ----------------------------------------------------------
// Letter Spacing
// ----------------------------------------------------------
.fSpace_s { letter-spacing: -0.02em !important; }
.fSpace_m { letter-spacing: 0.03em !important;}
.fSpace_l { letter-spacing: 0.08em !important;}
