@charset "utf-8";

@import './../../../styles/fw.scss';

.contact {
    border-top: 2px dashed rgba(#000, 0.1);
    @include pt(60px, 10vw);
    position: relative;
}

.titlebox {
    text-align: center;
}

.engTitle {
    @include fontSize(36px, 24px);
    font-family: $font_logojr;

    &:first-letter {
        @include fontSize(48px, 36px);
    }
}

.title {
    @include fontSize(19px, 14px);
    @include mt(20px, 5px);
    letter-spacing: 0.1em;
    line-height: 1;
}

.contactbox {
    background-color: $color_button_blue;
    color: #fff;
    @include mt(40px, 8vw);
    @include pd(60px 0 50px, 10vw 0);
    text-align: center;
    @include fontSize(15px, 13px);
    line-height: 26px;

    @include max(s) {
        line-height: 1.6;
    }
}

.buttonArea {
    @include mt(40px, 8vw);
}

.br {
    @include max(s) {
        display: none;
    }
}

.bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    background-image: url('/static/images/common/bg1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -2;
}
.bg3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 200px;
    background-image: url('/static/images/common/bg3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -2;
}
.bg1, .bg2, .bg3, .bg4 {
    @include max(s) {
        display: none;
    }
}