@charset "utf-8";

@import './../../../styles/setting/setting';
@import './../../../styles/mixin';

.message {
    @include fontSize(26px);
    color: red;
    text-align: center;
    @include mg(80px 0);
}

.note {
    @include fontSize(14px);
    @include mb(200px);
    text-align: center;
}

.button {
    text-align: center;
    @include mb(80px);
}