@charset "utf-8";

@import './../../../styles/setting/setting';
@import './../../../styles/mixin';

.inner {
    @include max(s) {
        padding-bottom: 10vw !important;
    }
}

.table {
    @include width(100%, auto);
    table-layout: fixed;

    @include max(s) {
        display: block;
    }
}

.tbody {
    @include max(s) {
        display: block;
    }
}

.tr {
    @include max(s) {
        display: block;
    }
}

.th {
    @include width(200px, auto);

    @include max(s) {
        display: block;
        padding: 15px 0 0;
    }
}

.td {
    @include max(s) {
        display: block;
        padding: 0;
    }
}

.textbox {
    @include width(100%);
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px !important;
}

.textarea {
    @include width(100%);
    @include height(200px);
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px !important;
}

.requireIcon {
    color: red;
    @include ml(2px);
}

.selectWrapper {
	overflow: hidden;
	width: 15em;
    text-align: center;
    position: relative;
	border: 1px solid #ccc;
	border-radius: 5px;
    background: #ffffff;
    
    &::before {
        position: absolute;
        top: 0.8em;
        right: 0.9em;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #666666;
        pointer-events: none;
    }
}

.selectbox {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
    appearance: none;
    padding: 0 38px 0 8px;
    color: #666666;
    
    &::-ms-expand {
        display: none;
    }
}

.button {
    @include mg(80px 0, 20vw 0);
    text-align: center;
}

.lead {
    @include mb(40px, 5vw);

    span {
        color: red;
    }
}

.validate {
    color: red;
}

.shield {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.2);
    width: 100%;
    height: 100%;
    z-index: 20;
}

.finalMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    @include width(400px, 90vw);
    z-index: 21;
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 4px rgba(#000, 0.4);
    @include pd(40px, 20px);

    @include flexBase( $wrap: "nowrap", $direction:  "column", $justify: "center", $align: "center" );

    > * {
        @include width(100%);
    }

    .kakunin {
        @include fontSize(16px);
        @include mb(20px, 5vw);
        text-align: center;
    }

    .processing {
        @include fontSize(16px);
        text-align: center;
    }

    &.entering {
        animation: in 800ms linear;
        animation-fill-mode: forwards;
    }
    &.exiting {
        animation: out 200ms linear;
        animation-fill-mode: forwards;
    }

    .kakuninButtons {
        @include max(s) {
            > div + div {
                margin-top: 15px;
            }
        }
    }

}

.recaptchaArea {
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0;
}

@keyframes in { 
    0% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -800, 0, 1); }
    33.33% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -800, 0, 1); }
    36% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -454.427, 0, 1); }
    38.61% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -89.032, 0, 1); }
    41.27% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 151.531, 0, 1); }
    43.88% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 220.657, 0, 1); }
    46.95% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 156.947, 0, 1); }
    49.95% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 47.49, 0, 1); }
    53.02% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -32.238, 0, 1); }
    56.02% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -55.408, 0, 1); }
    62.1% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.718, 0, 1); }
    68.1% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.915, 0, 1); }
    80.25% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.494, 0, 1); }
    92.39% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.877, 0, 1); }
    100% { transform: translate(-50%, -50%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
